{% extends 'base.html' %}
{% block conteudo %}
{% load static %}

<title>Staff Vision - Ajustar Colaboradores</title>
<!-- CONSTRUA O TEMPLATE AQUI -->
<div class="container">
    <div class="card custom-card mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex justify-content-between align-items-center">
                    Ajustar Colaboradores {% if is_mobile %} mobile {% endif %}      
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex justify-content-between align-items-center">
                    <select id="filtro-setor" class="form-select" style="margin-left: 0rem; margin-bottom: 0px;">
                        <option value="">Todos</option>
                        {% for sector in setores_usuario %}
                        <option value="{{ sector.sector_name }}">{{ sector.sector_name }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" id="campo-busca" class="form-control" style="margin-left: 1rem; margin-bottom: 0px;" placeholder="Buscar por nome">
                </div>
            </div>
        </div>
        <div class="card-body">
            <form method="POST" action="{% url 'update_worker' %}">
                {% csrf_token %}
                <div class="table-responsive">
                    <table class="table table-sm table-hover table-striped table-bordered" id="tabela-workers" style="margin-bottom: 0px;">
                        <thead>
                            <tr class="d-none d-md-table-row" style="white-space: nowrap">
                                <th scope="col" hidden>ID</th>
                                <th scope="col" style=" cursor: pointer; " class="sortable d-none d-md-table-cell" data-sort-direction="asc">Matricula <i class="nf nf-fa-caret_down"></i></i></th>
                                <th scope="col" style=" cursor: pointer; " class="sortable d-none d-md-table-cell" data-sort-direction="asc">Nome <i class="nf nf-fa-caret_down"></i></i></th>
                                <th scope="col" style=" cursor: pointer; " class="sortabled-none d-md-table-cell" data-sort-direction="asc">{{globalsettings.position_title}} <i class="nf nf-fa-caret_down"></i></i></th>
                                <th scope="col" hidden style=" cursor: pointer; "  data-sort-direction="asc">{{globalsettings.sector_title}} <i class="nf nf-fa-caret_down"></i> </i></th>
                                <th scope="col" style=" cursor: pointer; " class="sortabled-none d-md-table-cell" data-sort-direction="asc">{{globalsettings.establishment_title}} <i class="nf nf-fa-caret_down"></i></i></th>
                                <th scope="col" style=" cursor: pointer; " class="sortabled-none d-md-table-cell" data-sort-direction="asc">{{globalsettings.shift_title}} <i class="nf nf-fa-caret_down"></i></i></th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            {% for worker in workers %}
                            <tr style="cursor: pointer;" onclick="location.href='/edit_worker/{{ worker.id_worker }}' ">
                                <td data-bs-toggle="modal" data-bs-target="#workerModal{{ worker.id_worker }}" hidden>{{ worker.id_worker }}</td>
                                <td class="align-middle d-none d-md-table-cell" data-bs-toggle="modal" data-bs-target="#workerModal{{ worker.id_worker }}">
                                    {% if worker.number_w %}
                                        {{ worker.number_w|stringformat:'06d' }}
                                    {% else %}
                                        000000
                                    {% endif %}
                                </td>
                                <td class="align-middle d-flex flex-column d-md-table-cell " style="font-weight: bold;" data-bs-toggle="modal" data-bs-target="#workerModal{{ worker.id_worker }}">{{ worker.name_w.split.0 }} {{ worker.name_w.split|last }}</td>
                                <td class="align-middle d-none d-md-table-cell" data-bs-toggle="modal" data-bs-target="#workerModal{{ worker.id_worker }}">
                                    {% for position in worker.position_w.all %}
                                        {{ position.position_name|truncatechars:50|default:"..." }} 
                                    {% empty %}
                                        N/A
                                    {% endfor %}
                                </td>
                                <td hidden>{{ worker.sector_w.first.sector_name }}</td>
                                <td class="align-middle d-none d-md-table-cell" data-bs-toggle="modal" data-bs-target="#workerModal{{ worker.id_worker }}">
                                    {% for establishment in worker.establishment_w.all %}
                                        {{ establishment.establishment_name }}
                                    {% empty %}
                                        N/A
                                    {% endfor %}
                                </td>
                                <td class="align-middle d-none d-md-table-cell" data-bs-toggle="modal" data-bs-target="#workerModal{{ worker.id_worker }}">
                                    {% for shift in worker.shift_w.all %}
                                        {{ shift.shift_name }}
                                    {% empty %}
                                        N/A
                                    {% endfor %}
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4">Nenhum usuário encontrado.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary customBtn">Atualizar</button>
            </div>
        </form>
    </div>     
</div>

<script src="{% static 'js/adjust_worker.js' %}"></script>


{% endblock %}
