{% extends 'base.html' %}
{% block conteudo %}

<title>Staff Vision - Sem Preset</title>
<!-- CONSTRUA O TEMPLATE AQUI -->
<div class="container d-flex justify-content-center align-items-center" style="height: calc(100vh - 100px);"> <!-- 56px é a altura aproximada da sua navbar -->
    <div class="card custom-card">
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <h1 class="display-2">Usuário sem Dashboard</h1>
                    <p class="h2">Solicite ao administrador a configuração para o seu perfil.</p>
                </div>
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <h1 class="display-1"><i class="nf nf-oct-alert"></i></h1>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
