{% extends 'base.html' %}
{% block conteudo %}

<title>Staff Vision - {{ selected_sector.sector_name }}</title>
<!-- CONSTRUA O TEMPLATE AQUI -->
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="card custom-card mb-3">
                <div class="card-header d-flex justify-content-between align-items-center">
                COLABORADORES - {{ selected_sector.sector_name }}
                </div>
                <div class="card-body">
                    {% for worker in status_workers %}
                        <span class="badge" style="background-color: {% if worker.status_w.all %}{{ worker.status_w.first.status_color }}{% endif %}; font-size:16px; margin-bottom:0.2rem" data-bs-toggle="modal" data-bs-target="#workerModal{{ worker.id_worker }}">
                            {{ worker.name_w }}
                                {% if worker.status_w.all %} - {{ worker.status_w.first.status_name }}{% endif %}
                        </span>
                        {% empty %}
                            <h6>
                                Nenhum colaborador encontrado com este {{globalsettings.status_title}}.
                            </h6>
                        {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card custom-card mb-3">
                <div class="card-header d-flex justify-content-between align-items-center">
                    Resumo
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for sector_name, sector_info in sector_counts.items %}
                        <li class="list-group-item" style="border-color:{{ status_info.status_obj.status_color }}; border-width:1px 10px; margin-bottom: 0px;">
                            {{ sector_name }} - {{ sector_info.count }}
                        </li>
                    {% empty %}
                        <li class="list-group-item">Nenhum {{globalsettings.status_title}} atribuído.</li>
                    {% endfor %}
                    
                    </ul>
                </div>
            </div>
        </div>


        {% for worker in status_workers %}
<div class="modal fade" id="workerModal{{ worker.id_worker }}" tabindex="-1" aria-labelledby="workerModalLabel{{ worker.id_worker }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content card painel-card">
      <div class="modal-header">
        <h5 class="modal-title" id="workerModalLabel{{ worker.id_worker }}">Informações do Colaborador</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        <p>Matrícula: {{ worker.number_w }}</p>
        <p>Nome: {{ worker.name_w }}</p>
        {% for position in worker.position_w.all %}
            <p>{{globalsettings.position_title}}: {{ position.position_name }}</p>
        {% endfor %}
        {% for establishment in worker.establishment_w.all %}
            <p>{{globalsettings.establishment_title}} : {{ establishment.establishment_name }}</p>
        {% endfor %}
        {% for shift in worker.shift_w.all %}
            <p>Plantão: {{ shift.shift_name }}</p>
        {% endfor %}
        {% for sector in worker.sector_w.all %}
            <p>{{globalsettings.sector_title}} : {{ sector.sector_name }}</p>
        {% endfor %}
        {% for subSector in worker.subSector_w.all %}
        <p>{{globalsettings.subSector_title}}: {{ subSector.subSector_name }}</p>
        {% empty %}
            <p>{{globalsettings.subSector_title}}: Nenhum subsetor atribuído.</p>
        {% endfor %}
    
        {% for status in worker.status_w.all %}
        <p>{{globalsettings.status_title}} : <span class="badge" style="background-color: {{ status.status_color }};">{{ status.status_name }}</span></p>
        {% endfor %}
        <p>Observação: {{ worker.observation_w }}</p>


      </div>
    </div>
  </div>
</div>

{% endfor %}
        
        
    </div>
</div>

{% endblock %}
