{% extends 'base2.html' %}
{% block conteudo %}

<title>Staff Vision - BEM VINDO</title>
<!-- CONSTRUA O TEMPLATE AQUI -->
<div class="container">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            Novo Usuário
        </div>
        <div class="card-body">
            {% if user_exists %}
            <div class="invalid-credentials">
                <h6 class="painel-lista-title">Este usuário já existe</h6>
            </div>
            {% endif %}
            {% if wrong_password %}
            <div class="invalid-credentials">
                <h6 class="painel-lista-title">As senhas informadas não conferem</h6>
            </div>
            {% endif %}
            <form class="from-group" action="{% url 'welcome' %}" method="POST">
                {% csrf_token %}
                <div class="customForm">
                    <div class="row">
                        <div class="col-6">
                            <input class="form-control mb-3" type="text" placeholder="Nome Completo" name="name" autofocus >
                        </div>
                        <div class="col-6">
                            <input class="form-control mb-3" type="text" placeholder="Login" name="username">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input class="col-6 form-control mb-3" type="password" placeholder="Senha" name="password">
                        </div>
                        <div class="col-6">
                            <input class="col-6 form-control mb-3" type="password" placeholder="Confirmar Senha" name="confirm_password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-12">                       
                            <button type="submit" class="btn btn-primary">Avançar</button>
                        </div>
                    </div>                    
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}