@import "https://www.nerdfonts.com/assets/css/webfont.css";
body{
    background-color: rgb(34 39 53);
}

.navbar-nav .dropdown-menu {
    position: relative;
  }
  

.customNavbar{
    margin-bottom: 1rem;
    background-color: #23518F9f !important; 
    font-weight: bold;
    color: #ffffff !important;
    border-bottom: 1px solid #9dcaf341;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.54);
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.54);
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 200;
}

.base-footer{
    border-bottom: 1px solid #9dcaf341;
    background-color: #23518F9f !important; 
    font-weight: bold;
    color: #ffffff !important;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.263);
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.263);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.263);
    position: relative;
    z-index: 100;
}

.modal-content{
    margin: 15px;
    border-radius: 10px;
    border: 1px solid #fffffff1;
    background-color: #fcfcfcc0;
    backdrop-filter: blur(10px);
    color: #1a1a1a;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.54);
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.54);
}

.dropdown-menu{
    border-radius: 10px;
    border: 1px solid #fffffff1;
    background-color: #fcfcfc;
    color: #1a1a1a;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.263);
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.263);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.263);
    }

.nav-link a{
    color: #ffffff;
}

.offcanvas{
    background-color: #23518F9f !important; 
    font-weight: bold;
    color: #ffffff !important;
    border-bottom: 1px solid #9dcaf341;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.54);
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.54);
    backdrop-filter: blur(10px);
    /* z-index: 200; */
}

.nav-link{
    color: #ffffff;
}

.nav-link:hover{
    color: #a9c7f5;
}

.custom-card{
    margin-bottom: 1.5rem;
    border-radius: 10px;
    border: 1px solid #fffffff1;
    background-color: #fcfcfcc0;
    backdrop-filter: blur(10px);
    color: #1a1a1a;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.263);
-webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.263);
-moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.263);
position: relative;
z-index: 100;
}

.login-box{
    background-color: #23518F9f !important; 
    border-radius: 10px;
    font-weight: bold;
    color: #ffffff !important;
    border-bottom: 1px solid #9dcaf341;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.54);
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.54);
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 200;
}

.custom-card-layout{
    margin-bottom: 1.5rem;
    border-radius: 10px;
    border: 1px solid #fffffff1;
    background-color: #fcfcfcc0;
    color: #1a1a1a;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.263);
-webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.263);
-moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.263);
}

.grid-card{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.card-header{
    text-transform: uppercase;
}

.list-group{
    border-radius: 0px;
}
.list-group-item{
    background-color: #ffffff1a;
}

.btn-dashboard-menu{
    margin: 1rem;
    background-color: #0d1c33;
}

/* =================================== ITEMS =================================== */

.form-control{
    margin-bottom: 1rem;
    border-radius: 10px;
}

.form-select{
    border-radius: 10px;
    margin-bottom: 1rem;
}

.form-button{
    border-radius: 10px;
    margin-bottom: 1rem;
}


.title{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/* ================================= THEMING ================================ */

.btn{
    border-radius: 10px;
}

.btn-primary{
    /* background-color: blueviolet; */
    border-color: rgba(0, 0, 0, 0.247);
}

.table{
    border: #b1b1b1;
}

/* =============================== SETTINGS ============================= */

.theme-box{
    height: 815px;
    border-radius: 10px;
}
.logo-box{
    height: 300px;
}
.establishment-settings-box{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 300px;
    border-radius: 10px;
}
.sector-settings-box{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 300px;
    border-radius: 10px;
}
.subSector-settings-box{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 300px;
    border-radius: 10px;
}
.shift-settings-box{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 300px;
    border-radius: 10px;
}
.position-settings-box{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 300px;
    border-radius: 10px;
}
.status-settings-box{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 300px;
    border-radius: 10px;
}
.preset-settings-box{
    border-radius: 10px;
}


/* =========================== NEW USER=================================== */

.new-user-box{
    height: 700px;
    border-radius: 10px;
}