{% extends 'base2.html' %}
{% block conteudo %}

<title>CONTROLE DE EFETIVOS - BEM VINDO</title>
<!-- CONSTRUA O TEMPLATE AQUI -->
<div class="container">
    <div class="card custom-card">
        <div class="card-header d-flex justify-content-between align-items-center">
            Novo Usuário
        </div>
        <div class="card-body">
            {% if user_exists %}
            <div class="invalid-credentials">
                <h6 class="painel-lista-title">Este usuário já existe</h6>
            </div>
            {% endif %}
            {% if wrong_password %}
            <div class="invalid-credentials">
                <h6 class="painel-lista-title">As senhas informadas não conferem</h6>
            </div>
            {% endif %}
            <form class="from-group" action="{% url 'welcome' %}" method="POST">
                {% csrf_token %}
                <div class="customForm">
                    <div class="row">
                        <div class="col-6">
                            <input class="form-control loginItems" type="text" placeholder="Nome Completo" name="name" autofocus >
                        </div>
                        <div class="col-6">
                            <input class="form-control loginItems" type="text" placeholder="Login" name="username">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input class="col-6 form-control loginItems" type="password" placeholder="Senha" name="password">
                        </div>
                        <div class="col-6">
                            <input class="col-6 form-control loginItems" type="password" placeholder="Confirmar Senha" name="confirm_password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-12">                       
                            <button type="submit" class="btn btn-primary mt-2">Avançar</button>
                        </div>
                    </div>                    
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

{% endblock %}