{% extends 'base.html' %}
{% block conteudo %}

<title>CONTROLE DE EFETIVOS - {{ selected_sector.sector_name }}</title>
<!-- CONSTRUA O TEMPLATE AQUI -->
<div class="container">
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
            <div class="card custom-card">
                <div class="card-header d-flex justify-content-between align-items-center">
                COLABORADORES - {{ selected_sector.sector_name }}
                </div>
                <div class="card-body">
                    {% for worker in sector_workers %}
                        {% if worker.status_w.all %}
                            <span class="badge" style="background-color: {{ worker.status_w.first.status_color }}; font-size:16px; margin-bottom: 0.25rem;" data-bs-toggle="modal" data-bs-target="#workerModal{{ worker.id_worker }}">
                                {{ worker.name_w }} - {{ worker.status_w.first.status_name }}
                            </span>
                        {% endif %}
                        {% if worker.status_w == '' %}
                        <h6>Colaboradores desatualizados</h6>
                        {% endif %}

                    {% empty %}
                        <h6>
                            Nenhum colaborador encontrado neste {{globalsettings.sector_title}}.
                        </h6>
                    {% endfor %}
                </div>
                
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="card custom-card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    Resumo
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for status_name, status_info in status_counts.items %}
                        <li class="list-group-item" style="border-color: #c5c5c5 {{ status_info.status_obj.status_color }}; border-width:1px 10px; ">
                            {{ status_name }} - {{ status_info.count }}
                        </li>
                    {% empty %}
                        <li class="list-group-item">Nenhum {{globalsettings.status_title}} atribuído.</li>
                    {% endfor %}
                    
                    </ul>
                </div>
            </div>
        </div>

        {% for worker in sector_workers %}
<div class="modal fade" id="workerModal{{ worker.id_worker }}" tabindex="-1" aria-labelledby="workerModalLabel{{ worker.id_worker }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content card painel-card">
      <div class="modal-header">
        <h5 class="modal-title" id="workerModalLabel{{ worker.id_worker }}">Informações do Colaborador</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        <p>Matrícula: {{ worker.number_w }}</p>
        <p>Nome: {{ worker.name_w }}</p>
        {% for position in worker.position_w.all %}
            <p>{{globalsettings.position_title}}: {{ position.position_name }}</p>
        {% endfor %}
        {% for establishment in worker.establishment_w.all %}
            <p>{{globalsettings.establishment_title}} : {{ establishment.establishment_name }}</p>
        {% endfor %}
        {% for shift in worker.shift_w.all %}
            <p>Plantão: {{ shift.shift_name }}</p>
        {% endfor %}
        {% for sector in worker.sector_w.all %}
            <p>{{globalsettings.sector_title}} : {{ sector.sector_name }}</p>
        {% endfor %}
        {% for subSector in worker.subSector_w.all %}
            <p>{{globalsettings.subSector_title}}: {{ subSector.subSector_name }}</p>
        {% endfor %}
        {% for status in worker.status_w.all %}
        <p>{{globalsettings.status_title}} : <span class="badge" style="background-color: {{ status.status_color }};">{{ status.status_name }}</span></p>
        {% endfor %}
        <p>Observação: {{ worker.observation_w }}</p>


      </div>
    </div>
  </div>
</div>

{% endfor %}
        
        
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

{% endblock %}
